form {
    width: 100%;
    background-color: #bcc4bc;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.input-field {
    padding: 10px;
    border: 3px solid #7c7a7a;
    border-radius: 4px;
    margin: 10px;
    outline: none;
    width: 100px;
}

#price {
    color: #308d4f;
}

span {
    font-size: 26px;
    color: #308d4f;
    font-weight: bold;
}

.delete-span {
    color: #ffffff;
    background-color: #dc143c;
    cursor: pointer;
    font-weight: bold;
    padding: 1px 3px;
    width: 20px;
}

.error-span {
    color: #dc143c;
}